<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mandarin Placement Quiz</title>
</head>
<body>
    <div class="topbar">
        <h1>Mandarin Placement Quiz</h1>
    </div>
    <div class="questioncounter">
        <h3>{{ questionnumber }} / 25</h3>
    </div>
    <br>
    <form action="{{ url_for('submit') }}" method="post">
        <p>{{ text }}</p><br><br>
        {% for question in questions %}
            <div class="question">
                <p>{{ question }}</p>
                {% set group_name = loop.index0 %}
                {% for option in options[loop.index0] %}
                    {% set index = loop.index0 %}
                    <label>
                        <input type="radio" name="{{ group_name }}" value="{{ index }}" required> {{ option }} {{ index }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>
    <!-- <form action="{{ url_for('submit') }}" method="post">
        <p>{{ questions }}</p>
        {% for option in options %}
            <label>
                <input type="radio" name="answer" value="{{ option }}" required> {{ option }}
            </label><br>
        {% endfor %}
        <br>
        <button type="submit">Next</button>
    </form> -->
</body>
</html>
