{% extends "template.html" %}
{% block head %}
    <script src="../scripts/speaking.js"></script>
{% endblock head %}
{% block content %}
    <br>
    <form id="question_form" onsubmit="return validate()" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_speaking') }}">
        <p>{{ prompt }}</p>
        <p id="timerTitle"></p>
        <p id="timer"></p>
        <br>
        <input type="file" name="file" accept=".wav,.m4a,.mp3"><br><br><br>
        <button type="submit" id="submit">Submit</button>
    </form>
    <script>
        const button = document.getElementById("submit");
        const question_form = document.getElementById("question_form")
        function validate() {
            button.addEventListener("click", function(event) {
                if (question_form.checkValidity()) {
                    button.disabled = true;
                    return true
                } else {
                    return false
                }
            })
        }        
    </script>
{% endblock content %}