<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='static/style.css') }}">
        <title>Mandarin Placement Quiz</title>
    </head>
    <body>
        <div class="topbar">
            <h1>Mandarin Placement Quiz</h1>
        </div>
        <br>
        <form action="{{ url_for('submit_frq' )}}" method="post">
            <p>{{ prompt }}</p>
            <p>just for testing, recording implementation is gonna take forever</p>
            <br>
            <br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>