<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mandarin Placement Quiz</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>Mandarin Placement Quiz</title>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <div class="topbar">
            <h1>Mandarin Placement Quiz</h1>
        </div>
        {% block content %}{% endblock content%}
    </body>
</html>