{% extends "template.html" %}
{% block head %}
    <style>
        textarea {
            display: block;
            resize: none;
            margin: 0 auto;
        }
    </style>
{% endblock head %}
{% block content %}
    <br>
    <form action="{{ url_for('submit_writing' )}}" method="post">
        <p>{{ prompt }}</p>
        <br>
        {% if textbox %}
            <textarea name="frq" rows="30" cols="70"></textarea><br>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}