{% extends "template.html" %}
{% block head %}
    <style>
        textarea {
            display: block;
            resize: none;
            margin: 0 auto;
        }
    </style>
{% endblock head %}
{% block content %}
    <br>
    <form id="question_form" onsubmit="return validate()" action="{{ url_for('submit_writing' )}}" method="post">
        <p>{{ prompt }}</p>
        <br>
        {% if textbox %}
            <textarea name="frq" rows="30" cols="70" required></textarea><br>
        {% endif %}
        <button type="submit" id="submit">Submit</button>
    </form>
    <script>
        const button = document.getElementById("submit");
        const question_form = document.getElementById("question_form")
        function validate() {
            button.addEventListener("click", function(event) {
                if (question_form.checkValidity()) {
                    button.disabled = true;
                    return true
                } else {
                    return false
                }
            })
        }     
    </script>
{% endblock content %}